# ntp.conf: Managed by Ansible. 
#
# Keep ntpd from panicking in the event of a large clock skew
# when a VM guest is suspended and resumed.
tinker panic 0

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
restrict 127.0.0.1
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

{% for value in ntp_servers -%}
server {{ value }}
{% endfor %}

# Driftfile.
driftfile /var/lib/ntp/drift
